*C.h
*C.cpp
*C.inl
*S.h
*S.cpp
*S.inl
*JC.cpp
*JC.h

*TypeSupportC.h
*TypeSupportC.cpp
*TypeSupportC.inl
*TypeSupportS.h
*TypeSupportS.cpp
*TypeSupportS.inl
*TypeSupportJC.h
*TypeSupportJC.cpp
*TypeSupportImpl.h
*TypeSupportImpl.cpp

PubSubTestTypeSupport.idl

libPubSubTest.so
libPubSubTest.so.*
PubSubTest/**
*.jar
classes
.depend.*
.shobj/*

!PubSubTest.idl
!PubSubTest.mpc

